button {
    &.btn-blue-light {
        background-color: $color-blue-light;
        border-color: $color-blue-light;
        color: $color-white;

        &:hover {
            background-color: $color-blue-dark !important;
            border-color: $color-blue-dark !important;
        }

        &:focus {
            background-color: $color-blue-dark !important;
            border-color: $color-blue-dark !important;
        }
    }

    &.btn-error{
        background-color: $color-error;
        border-color: $color-error;
        color: $color-white;

        &:hover {
            background-color: $color-error !important;
            border-color: $color-error !important;
        }

        &:focus {
            background-color: $color-error !important;
            border-color: $color-error !important;
        }
    }
}