@import './color';
@import './fonts';
@import './buttons';
@import './forms';


body {
    font-family: $font-family-normal !important;
    background-color: $color-white !important;
    color: $color-blue-dark !important;
}

footer {
    background-color: $color-grey;
    a {
        color: $color-blue-light;
    }
}

aside {
    background-color: $color-grey;

    .title {
        color: $color-blue-dark;
        font-size: 1.5rem;
        font-weight: $font-bold;
    }
    .date {
        color: $color-blue-light;
        font-size: 1rem;
        font-weight: $font-regular;
    }
    hr {
        border-color: $color-blue-dark;
    }
}

nav {
    background-color: $color-grey;
    input {
        background-color: $color-white !important;
        color: $color-blue-dark !important;
        width: 350px !important;
        &:focus {
            border-color: $color-blue-light !important;
            box-shadow: 0 0 0 0.25rem rgb(49 199 250 / 25%) !important;
        }
    }
}

button {
    min-width: 100px
}