@import './color';
@import './fonts';
@import './buttons';
@import './forms';


body {
    font-family: $font-family-normal !important;
    background-color: $color-white !important;
    color: $color-blue-dark !important;
}

footer {
    background-color: $color-grey;
    a {
        color: $color-blue-light;
    }
}

aside {
    background-color: $color-grey;
}

nav {
    background-color: $color-grey;
    input {
        background-color: $color-white !important;
        color: $color-blue-dark !important;
        width: 350px !important;
        &:focus {
            border-color: $color-blue-light !important;
            box-shadow: 0 0 0 0.25rem rgb(49 199 250 / 25%) !important;
        }
    }
}